.my-order-container {
  margin-top: 61px;
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 400px;
  position: absolute;
  right: 0;
  top: 0;
  border: 1px solid var(--very-light-pink);
}

.my-order {
  width: 100%;
  /* height: 100vh; */
  display: grid;
  grid-template-columns: auto;
  z-index: 3;
  background: var(--white);
  padding: 0.2em;
  align-items: center;
  justify-content: center;
}

.tittle {
  font-size: var(--lg);
}

.order {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 16px;
  align-items: center;
  background-color: var(--text-input-field);
  margin-bottom: 24px;
  border-radius: 8px;
  padding: 0 24px;
}

.order p:nth-child(1) {
  display: flex;
  flex-direction: column;
}

.order p span:nth-child(1) {
  font-size: var(--md);
  font-weight: bold;
}
.order p span:nth-child(2) {
  font-size: var(--sm);
  color: var(--very-light-pink);
}

.order p:nth-child(2) {
  text-align: end;
  font-weight: 700;
}

.my-order-content {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-size: var(--lg);
}

.shopping-cart {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  gap: 16px;
  margin-bottom: 24px;
  align-items: center;
}

.shopping-cart img {
  width: 70px;
  height: 70px;
  border-radius: 20px;
  object-fit: cover;
}

.shopping-cart p:nth-child(2) {
  color: var(--very-light-pink);
}

.shopping-cart p:nth-child(3) {
  font-weight: bold;
  font-size: var(--lg);
}

.icon-close {
  width: 12px !important;
  height: 12px !important;
  border-radius: 0 !important;
}

.tittle-container {
  display: flex;
  width: 100%;
  align-items: center;
}

.tittle-container img {
  transform: rotate(180deg);
  margin-right: 20px;
  width: 20px;
  height: 20px;
}

.primary-button {
  background-color: var(--hospital-green);
  border: none;
  border-radius: 8px;
  color: var(--white);
  width: 100%;
  cursor: pointer;
  font-size: var(--md);
  font-weight: bold;
  height: 50px;
}

.add-button {
  display: flex;
  justify-content: center;
  align-items: center;
}
